/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt { tapping-term-ms = <300>; };

/ {
    behaviors {
        esc_ctrl: esc_ctrl {
            compatible = "zmk,behavior-hold-tap";
            label = "ESC_CTRL";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick-tap-ms = <120>;
            flavor = "tap-preferred";
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos {
        compatible = "zmk,combos";

        fourth_layer_combo {
            key-positions = <37 40>;
            timeout-ms = <50>;
            layers = <0>;
            bindings = <&mo 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE  &kp Q  &kp W  &kp E         &kp R  &kp T         &kp Y      &kp U  &kp I          &kp O    &kp P     &kp BSPC
&kp TAB     &kp A  &kp S  &kp D         &kp F  &kp G         &kp H      &kp J  &kp K          &kp L    &kp SEMI  &kp APOS
&kp LCTRL   &kp Z  &kp X  &kp C         &kp V  &kp B         &kp N      &kp M  &kp COMMA      &kp DOT  &kp FSLH  &kp ENTER
                          &kp LEFT_GUI  &mo 1  &kp LSHIFT    &kp SPACE  &mo 2  &kp RIGHT_ALT
            >;
        };

        layer_1 {
            bindings = <
&kp GRAVE  &kp N1                &kp N2                 &kp N3                &kp N4                 &kp N5           &kp N6          &kp N7    &kp N8        &kp N9     &kp N0         &trans
&none      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS             &kp EQUAL              &kp BACKSLASH    &kp PG_UP       &kp HOME  &kp UP_ARROW  &kp END    &kp INSERT     &kp DELETE
&trans     &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none            &kp PAGE_DOWN   &kp LEFT  &kp DOWN      &kp RIGHT  &kp BACKSLASH  &trans
                                                        &trans                &trans                 &trans           &kp LEFT_SHIFT  &trans    &trans
            >;
        };

        layer_2 {
            bindings = <
&kp F1          &kp F2  &kp F3  &kp F4  &kp F5    &kp F6    &kp F7        &kp F8        &kp F9        &kp F10       &kp F11       &kp F12
&trans          &trans  &trans  &trans  &trans    &trans    &trans        &trans        &trans        &trans        &trans        &trans
&studio_unlock  &trans  &trans  &trans  &trans    &trans    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR
                                &trans  &kp LALT  &trans    &trans        &trans        &trans
            >;
        };

        function_layer {
            // -----------------------------------------------------------------------------------------
            // | TAB  |  F1   |  F2    |  F3   |   F4  | F5    |     |     |     |     |     |     | BKSP |
            // | CTRL |  F6   |  F7    |  F8   |   F9  |  F10  |     |     |     |     |     |     |      |
            // | SHFT |  F11  |  F12   |  F13  |       |       |     |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&esc_ctrl LCTRL TAB  &kp F1   &kp F2   &kp F3    &kp F4  &kp F5       &trans   &trans  &trans    &trans  &trans  &kp BSPC
&kp ESC              &kp F6   &kp F7   &kp F8    &kp F9  &kp F10      &trans   &trans  &trans    &trans  &trans  &trans
&kp LSHFT            &kp F11  &kp F12  &kp F13   &trans  &trans       &trans   &trans  &trans    &trans  &trans  &trans
                                       &kp LGUI  &trans  &kp SPACE    &kp RET  &trans  &kp RALT
            >;
        };
    };
};
